html {
  background-color:  #02010a;
  font-family: Dancing Script;
  }

header {

  background-color: #5b7989;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  flex-flow: row wrap;
}

img {
  box-shadow: 2px 2px  #02010a;
}

.titulo{
  text-align: left;
  margin-left: 10px;
  color: white;
  text-shadow: 2px 2px #02010aAA;
  flex-grow: 2;
}

.navbar{
  float: right;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

li {
  float: left;
  display: inline;
}

li a{
  padding: 8px;
  color: white;
}

li a.active{
  text-decoration: none;
}

.contenido{
  width: 900px;
  margin-left: auto;
  margin-right: auto;

}

.imagencentral{
  background-color: #82c3a6;
}

.imagencentral img{
  display:block;
  margin:auto;
  width: 95%;
  transform: scale(0.9,0.8);
}

.container {
  display: flex;
  flex-flow: row wrap;
  background-color: #d5c75f;
  border: 1px;
}

.container div{
display: flex;
justify-content: center;
width: 30%;
margin-top: 10vh;
margin-bottom: 10vh;
margin-left: auto;
margin-right: auto;

}

.caja1 :hover{
  transform: rotateZ(10deg);
  box-shadow: 2px 2px  #82c3a6;
}

.caja2 :hover{
  transform: translate(20px, -5px);
  box-shadow: 2px 2px  #82c3a6;
}

footer{
  background-color: #C6d5c5;
  display: flex;
  flex-flow: row wrap;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

footer div {
  min-height: 200px;
  flex: 1 2 20%;
  text-align: center;


}
